#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#score {
  position: fixed;
  z-index: 999;
}

#overlay {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.center {
  position: absolute;
  top: 50%;
  left: 40%;
  margin-left: -50px;
  margin-top: -25px;
}

#reset {
  background-color: red;
  position: fixed;
  z-index: 999;
}
